Repository autobrr/dashbrr, pull requests merged in 2024-11, with the labels that each got.

#16 feat(cli): add command suite
  Dockerfile
  README.md
  ci.Dockerfile
  cmd/dashbrr/main.go
  config.toml
  docs/commands.md
  internal/commands/autobrr/autobrr.go
  internal/commands/base/command.go
  internal/commands/base/registry.go
  internal/commands/executor/executor.go
  internal/commands/general/general.go
  internal/commands/health/health.go
  internal/commands/help/help.go
  internal/commands/maintainerr/maintainerr.go
  internal/commands/omegabrr/omegabrr.go
  internal/commands/overseerr/overseerr.go
  internal/commands/plex/plex.go
  internal/commands/prowlarr/prowlarr.go
  internal/commands/radarr/radarr.go
  internal/commands/service/service.go
  internal/commands/sonarr/sonarr.go
  internal/commands/tailscale/tailscale.go
  internal/commands/user/user.go
  internal/commands/version/version.go
  internal/database/database.go
  internal/services/autobrr/client.go
  internal/services/cache/init.go
  internal/services/core/service.go
  internal/services/maintainerr/maintainerr.go
  internal/services/omegabrr/omegabrr.go
  internal/services/overseerr/overseerr.go
  internal/services/plex/plex.go
  internal/services/prowlarr/prowlarr.go
  internal/services/radarr/radarr.go
  internal/services/sonarr/sonarr.go
Labels: enhancement, backend, config, go

#18 fix(services) health timeouts
  internal/services/maintainerr/maintainerr.go
  internal/services/omegabrr/omegabrr.go
Labels: backend, go

#19 fix(makefile): use proper typecheck
  Makefile
  web/eslint.config.js
  web/tsconfig.node.json
Labels: build

#20 feat(cache): add session persistence for memory cache
  README.md
  cmd/dashbrr/main.go
  docs/commands.md
  docs/env_vars.md
  internal/api/middleware/auth.go
  internal/api/routes/routes.go
  internal/config/config.go
  internal/database/database.go
  internal/services/cache/cache.go
  internal/services/cache/init.go
  internal/services/cache/memory.go
  internal/services/cache/memory_test.go
  internal/services/core/service.go
Labels: documentation, enhancement, backend, config, database, go

#22 fix(pwa): add safe-area
  .github/assets/mobile.png
  README.md
  web/src/App.tsx
Labels: enhancement, web

#24 fix: ensure consistent version reporting between startup and version command
  .goreleaser.yml
  Dockerfile
  Makefile
  ci.Dockerfile
Labels: build

#30 feat(web): add access url for external service access
  internal/database/database.go
  internal/models/service.go
  internal/models/settings.go
  web/src/components/AddServicesMenu.tsx
  web/src/components/configuration/ConfigurationForm.tsx
  web/src/components/services/ServiceCard.tsx
  web/src/components/services/ServiceGrid.tsx
  web/src/components/services/radarr/RadarrStats.tsx
  web/src/components/services/sonarr/SonarrStats.tsx
  web/src/components/ui/ServiceHeader.tsx
  web/src/config/serviceTemplates.ts
  web/src/contexts/ConfigurationContext.tsx
  web/src/hooks/useServiceData.ts
  web/src/hooks/useServiceManagement.ts
  web/src/types/service.ts
Labels: enhancement, backend, database, go, web

#35 feat(database): SQLite add tuning params and WAL mode
  internal/database/database.go
Labels: backend, database:sqlite, database

#36 refactor(database): use Squirrel query builder
  go.mod
  go.sum
  internal/api/handlers/autobrr.go
  internal/api/handlers/builtin_auth.go
  internal/api/handlers/health.go
  internal/api/handlers/health_test.go
  internal/api/handlers/maintainerr.go
  internal/api/handlers/omegabrr.go
  internal/api/handlers/overseerr.go
  internal/api/handlers/plex.go
  internal/api/handlers/prowlarr.go
  internal/api/handlers/radarr.go
  internal/api/handlers/settings.go
  internal/api/handlers/sonarr.go
  internal/api/handlers/tailscale.go
  internal/api/handlers/testing/mocks.go
  internal/commands/autobrr/autobrr.go
  internal/commands/config/config.go
  internal/commands/general/general.go
  internal/commands/maintainerr/maintainerr.go
  internal/commands/omegabrr/omegabrr.go
  internal/commands/overseerr/overseerr.go
  internal/commands/plex/plex.go
  internal/commands/prowlarr/prowlarr.go
  internal/commands/radarr/radarr.go
  internal/commands/sonarr/sonarr.go
  internal/commands/tailscale/tailscale.go
  internal/commands/user/user.go
  internal/database/database.go
  internal/database/database_integration_test.go
  internal/database/database_test.go
  internal/models/settings.go
  internal/types/types.go
Labels: backend, database:postgres, database:sqlite, database, refactor

#37 feat: improve logging and config file handling
  cmd/dashbrr/main.go
  internal/api/handlers/auth.go
  internal/api/middleware/auth.go
  internal/config/config.go
Labels: backend, auth, config

#34 ci: optimize builds
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
  Makefile
  ci.Dockerfile
  web/dist/.gitkeep
Labels: enhancement, build, performance

#46 fix(tailwind): update responsive breakpoints
  web/src/App.tsx
  web/src/components/services/ServiceGrid.tsx
  web/src/components/services/maintainerr/MaintainerrCollections.tsx
  web/tailwind.config.js
Labels: enhancement, web

#45 feat(resilience): Implement Circuit Breaker and Exponential Backoff Retry Logic
  internal/api/handlers/autobrr.go
  internal/api/handlers/events.go
  internal/api/handlers/maintainerr.go
  internal/api/handlers/omegabrr.go
  internal/api/handlers/overseerr.go
  internal/api/handlers/plex.go
  internal/api/handlers/prowlarr.go
  internal/api/handlers/radarr.go
  internal/api/handlers/sonarr.go
  internal/api/handlers/tailscale.go
  internal/api/middleware/cache.go
  internal/services/arr/health.go
  internal/services/cache/cache_test.go
  internal/services/cache/init.go
  internal/services/core/service.go
  internal/services/resilience/resilience.go
  internal/types/autobrr.go
  internal/types/overseerr.go
  internal/types/radarr.go
  internal/utils/type_conversion.go
Labels: enhancement, backend, go, performance

#42 refactor(cli): move to Cobra
  Dockerfile
  Makefile
  README.md
  ci.Dockerfile
  cmd/dashbrr/main.go
  docker-compose/docker-compose.redis.yml
  docker-compose/docker-compose.yml
  docs/commands.md
  docs/config_management.md
  docs/env_vars.md
  go.mod
  go.sum
  internal/commands/autobrr/autobrr.go
  internal/commands/base/command.go
  internal/commands/base/registry.go
  internal/commands/config.go
  internal/commands/config/config.go
  internal/commands/executor/executor.go
  internal/commands/general/general.go
  internal/commands/health.go
  internal/commands/health/health.go
  internal/commands/help/help.go
  internal/commands/maintainerr/maintainerr.go
  internal/commands/omegabrr/omegabrr.go
  internal/commands/overseerr/overseerr.go
  internal/commands/plex/plex.go
  internal/commands/prowlarr/prowlarr.go
  internal/commands/radarr/radarr.go
  internal/commands/service.go
  internal/commands/service/service.go
  internal/commands/service_autobrr.go
  internal/commands/service_general.go
  internal/commands/service_maintainerr.go
  internal/commands/service_omegabrr.go
  internal/commands/service_overseerr.go
  internal/commands/service_plex.go
  internal/commands/service_prowlarr.go
  internal/commands/service_radarr.go
  internal/commands/service_sonarr.go
  internal/commands/service_tailscale.go
  internal/commands/sonarr/sonarr.go
  internal/commands/tailscale/tailscale.go
  internal/commands/user.go
  internal/commands/user/user.go
  internal/commands/version.go
  internal/commands/version/version.go
  internal/services/discovery/config_file.go
Labels: backend, breaking change, refactor, architecture, cli

#56 refactor(api): http server setup
  cmd/dashbrr/main.go
  internal/api/server.go
  internal/services/cache/init.go
Labels: api, backend, refactor

#41 feat(database): add migrations
  go.mod
  go.sum
  internal/database/database.go
  internal/database/migrations/migrations.go
  internal/database/migrations/postgres.go
  internal/database/migrations/postgres_schema.sql
  internal/database/migrations/sqlite.go
  internal/database/migrations/sqlite_schema.sql
  pkg/migrator/migrator.go
Labels: backend, database:postgres, database:sqlite, database, database:migrations

#57 fix(auth): replace hardcoded OAuth endpoints with OIDC Discovery
  README.md
  docs/env_vars.md
  internal/api/handlers/auth.go
  internal/api/handlers/auth_test.go
  web/src/components/services/TailscaleStatusBar.tsx
  web/src/contexts/AuthContext.tsx
  web/src/contexts/ConfigurationContext.tsx
  web/src/hooks/useEventSource.ts
  web/src/hooks/useServiceData.ts
  web/src/utils/api.ts
Labels: bug, documentation, enhancement, auth
